SUPABASE_URL=
SUPABASE_SERVICE_ROLE=
NODE_ENV=dev # prod, test
CORS_ORIGINS=https://app.oppsys.io,https://admin.oppsys.io,https://oppsys.io,http://localhost:3000,http://localhost:5173,http://localhost:4173
